@using webBanGiay.Models
@model List<GioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GioHang</h2>
<table>
    <tr>
        <td>Mã Giày</td>

        <td>Tên Giày</td>

        <td>Hình ảnh</td>

        <td>Đơn giá</td>

        <td>Số lượng</td>

        <td>Thành tiền</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.iMaGiay</td>

            <td>@item.sTenGiay</td>
            
            <td>
                <a href="@Url.Action("XemChiTiet","Giay",new {@MaGiay = item.iMaGiay})">
                    <img src="@Url.Content("~/AnhGiay/"+item.sHinhAnh)" width="50px" height="50px" alt="Anh Giay">
                </a>
            </td>

            <td>
                @String.Format("{0:0,0}", item.dDonGia) VNĐ
            </td>

            <td>@item.iSoLuong</td>

            <td>@String.Format("{0:0,0}", item.ThanhTien) VNĐ</td>

        </tr>

    }
    <tr>
        <td colspan="6" style="text-align:right;">
            @Html.ActionLink("Chỉnh sữa giỏ hàng", "SuaGioHang")
        </td>
    </tr>
    <tr>
        <td colspan="6" style="text-align:right;">
            @using (Html.BeginForm("DatHang", "GioHang"))
            {
                <input type="submit" value="Đặt Hàng" />
            }
        </td>
    </tr>
</table>